html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App {
  height: 100vh; /* Full viewport height */
  width: 100%;
  background-color: rgb(46, 46, 90);
  display: flex;
  flex-direction: column; /* Align components vertically */
}

.Navbar {
  flex: 0 0 10%; /* Occupies 10% of the height */
  width: 100%;
}

.cardlayout {
  flex: 1; /* Occupies the remaining space, which is 80% */
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  font-family: Arial, Helvetica, sans-serif;
  height: 160px;
}

.card-text{
  text-align: left;
}

.foot {
  flex: 0 0 10%; /* Occupies 10% of the height */
  padding: 0px 20px;
  background-color: rgb(28, 28, 39);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 40px;
}

.foot .logo {
  padding-left: 10px;
}

.foot .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot .footer-bottom {
  padding-left: 30px;
}

.foot .socials i {
  font-size: 1.35em;  
  padding: 0 10px;
}

.formessentials{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.form-instructions{
  /* background-color: red; */
  width: 35%;
  height: 100%;
  color: white;
  padding-left: 70px;
  padding-top: 45px;
}

.forminfo{
  /* background-color: red; */
  width: 60%;
  height: 100%;
  /* border-left: solid white 2px; */
  color: white;
  padding-right: 80px;
}

.border{
  height: 80%;
  border: solid white 2px;
}

.Complain{
  flex: 1; /* Occupies the remaining space, which is 80% */
  width: 100%;
  display: flex;
  justify-content: center;
}

.complaintracker{
    flex: 1; /* Occupies the remaining space, which is 80% */
    width: 100%;
}

.mainlogin{
  flex: 1; /* Occupies the remaining space, which is 80% */
  width: 100%;
  display: flex;
  justify-content: center;
}

.PastQueriesContainer{
  flex: 1; /* Occupies the remaining space, which is 80% */
  width: 100%;
}

.Complain h2{
  text-align: center;
}
.complain-form {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 20px; /* Space between rows */
  margin-top: 20px;
}

.form-group {
  display: grid;
  grid-template-columns: 150px 1fr; /* Adjust the width of the label column as needed */
  gap: 10px; /* Space between label and input field */
}

.form-group label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  align-self: center;
}

.form-group textarea,
.form-group input {
  width: 100%;
}

.form-group input[type="date"] {
  width: auto;
}
.form-group button{
  width: 50%;
}

.status-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 5px;
  height: 80px;
  padding: 0 20px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.status-card:hover {
  transform: translateY(-5px); /* Lift the card up by 5px */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increase the shadow to enhance the lift effect */
}

.query-cards{
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center; 
}

.Logincontent {
  height: 82.50%;
  width: 100%;
  flex: 1;
  padding: 20px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logincontainer {
  background-color: rgba(255,255,255,0.8);
  padding: 20px 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #604caf;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #161337;
}

.signup {
  margin-top: 20px;
}

.signup p {
  margin: 0;
  font-size: 14px;
}

.signup a {
  color: #293148;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
}

.signup a:hover {
  text-decoration: underline;
}

.accordion-item .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  padding-bottom: 5px;
}

.accordion-button:hover{
  background-color: rgb(151, 165, 223);
}
